# .gitignore 

#  Java Files   --------------------------------------------
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.rar

#  Virtual Machine Crash Logs   ----------------------------
#  see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#  Log file   ----------------------------------------------
*.log

#  Clover Coverage   ---------------------------------------
.clover

#  Temporary Build Directories   ---------------------------
**/target/
**/build/
**/out/
**/dist/
**/conf/
**/db/

#  Eclipse/STS Related   ----------------------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#  Gradle   ------------------------------------------------
**/.gradle

#  Intellij   ----------------------------------------------
.idea
*.iws
*.iml
*.ipr

#  Application Specific Files   ----------------------------
**/nppBackup
nppbackup
